<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>{{title}}</h1>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#artistas">Artistas</a></li>
        <li><a href="#discos">Discos</a></li>
        <li><a href="#conciertos">Conciertos</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="inicio">
      <h2>Bienvenidos a mi sitio web de música</h2>
      <p>En este sitio encontrarás información sobre tus artistas favoritos , sus discos y próximos conciertos.</p>
      <img src="img/musica.jpg" alt="Música">
    </section>
    <section id="artistas">
      <h2>Artistas</h2>
      <ul>
        <li><a href="#">Kendrick Lamar</a></li>
        <li><a href="#">Artista 2</a></li>
        <li><a href="#">Artista 3</a></li>
        <li><a href="#">Artista 4</a></li>
      </ul>
    </section>
    <section id="discos">
      <h2>Discos</h2>
      <ul>
        <li><a href="#">good kid,m.A.A.d city </a></li>
        <li><a href="#">Disco 2</a></li>
        <li><a href="#">Disco 3</a></li>
        <li><a href="#">Disco 4</a></li>
        <h2>Canciones</h2>
        <ul>
          <li><a href="{{link}}">Money Trees </a></li>
          <li><a href="#">Cancion 2</a></li>
          <li><a href="#">Cancion 3</a></li>
          <li><a href="#">Cancion 4</a></li>
        <footer>
          <p>Derechos reservados &copy; 2023 Mi sitio web de música</p>
        </footer>
