
<section id="canciones">
  <h2>{{seccion}}</h2>
  <ul>
    <li><a href="#">{{"Artista:  "+ musica[0].artist}}</a></li>
    <li><a href="#">{{"Cancion:  "+musica[0].title}}</a></li>
    <li><a href="#">{{"Genero:  "+musica[0].genero}}</a></li>
    <li><a href="#">{{"Album:  "+musica[0].album}}</a></li>
    <li><a href="#">{{"Duracion:  "+musica[0].duration}}</a></li>
    <li><a href="">{{"Link:  "+musica[0].link}}</a></li>
  </ul>
  <ul>
    <li><a href="#">{{"Artista:  "+ musica[1].artist}}</a></li>
    <li><a href="#">{{"Cancion:  "+musica[1].title}}</a></li>
    <li><a href="#">{{"Genero:  "+musica[1].genero}}</a></li>
    <li><a href="#">{{"Album:  "+musica[1].album}}</a></li>
    <li><a href="#">{{"Duracion:  "+musica[1].duration}}</a></li>
    <li><a href="#">{{"Link:  "+musica[1].link}}</a></li>
  </ul>
  <ul>
    <li><a href="#">{{"Artista:  "+ musica[2].artist}}</a></li>
    <li><a href="#">{{"Cancion:  "+musica[2].title}}</a></li>
    <li><a href="#">{{"Genero:  "+musica[2].genero}}</a></li>
    <li><a href="#">{{"Album:  "+musica[2].album}}</a></li>
    <li><a href="#">{{"Duracion:  "+musica[2].duration}}</a></li>
    <li><a href="#">{{"Link:  "+musica[2].link}}</a></li>
  </ul>
  <ul>
    <li><a href="#">{{"Artista:  "+ musica[3].artist}}</a></li>
    <li><a href="#">{{"Cancion:  "+musica[3].title}}</a></li>
    <li><a href="#">{{"Genero:  "+musica[3].genero}}</a></li>
    <li><a href="#">{{"Album:  "+musica[3].album}}</a></li>
    <li><a href="#">{{"Duracion:  "+musica[3].duration}}</a></li>
    <li><a href="#">{{"Link:  "+musica[3].link}}</a></li>
  </ul>
</section>
  
  
     
  
